.search-results__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
  background-color: #f5f6f7;
  min-height: 374px;
  height: auto;
}

.search-results__loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.search-results__loading-text {
  margin: 24px 0 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #6c707a;
  font-size: 18px;
}

.nothing-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 86px 0 80px;
  height: 374px;
}

.nothing-found__icon {
  width: 82.5px;
  height: 82.5px;
  margin-bottom: 31.5px;
  background-image: url("../../assets/not-found.svg");
}

.nothing-found__title {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-size: 26px;
  color: #1a1b22;
  margin: 0 0 16px 0;
}

.nothing-found__text {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #6c707a;
  margin: 0;
}

.search-results__title {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: #1a1b22;
  align-self: flex-start;
  margin: 80px 0 64px 104px;
}

.search-results__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  gap: 16px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}

.search-results__show-more {
  display: block;
  margin: 64px auto 80px;
  background: #ffffff;
  border: 1px solid #e6e8eb;
  border-radius: 80px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  padding: 20px 98px 20px 99px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.search-results__show-more:hover {
  background-color: #e6e8eb;
}

.nothing-found,
.search-results__error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 418px;
  margin: 0 auto;
}

.search-results__error {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #6c707a;
}

@media screen and (max-width: 1200px) {
  .search-results__title {
    margin: 40px 0 32px 40px;
  }
}

@media screen and (max-width: 768px) {
  .search-results__title {
    font-size: 30px;
    line-height: 34px;
  }

  .search-results__show-more {
    padding: 16px 74px 16px 75px;
    margin-top: 32px;
  }
}

@media screen and (max-width: 370px) {
  .search-results__section {
    padding: 32px 16px 24px;
  }
  .search-results__show-more {
    margin-top: 16px;
    width: 100%;
    height: 56px;
  }
}
