.search-field {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #d1d2d6;
  border-radius: 100px;
  overflow: hidden;
  width: 100%;
  max-width: 608px;
  height: 64px;
  box-sizing: border-box;
  margin: 0;
}

.search-field__input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 0 24px;
  font-size: 16px;
  color: #000000;
}

.search-field__input::placeholder {
  color: #b6bcbf;
}

.search-field__button {
  background-color: #2f71e5;
  color: #ffffff;
  border: none;
  border-radius: 100px;
  height: 100%;
  padding: 0 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin: -1px;
}

.search-field__button:hover {
  background-color: #347eff;
}

.search-field__button:active {
  background-color: #2a65cc;
}

@media screen and (max-width: 768px) {
  .search-field {
    max-width: 452px;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 470px) {
  .search-field {
    max-width: 450px;
  }
}

@media screen and (max-width: 400px) {
  .search-field {
    display: flex;
    flex-direction: column;
    background: none;
    border: none;
    width: 288px;
    height: auto;
    gap: 16px;
    padding: 0;
    margin: 0 auto;
    overflow: visible;
  }

  .search-form {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
  }

  .search-field__input {
    width: 100%;
    height: 56px;
    border-radius: 100px;
    background-color: #ffffff;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 16px;
    line-height: 22px;
    padding: 18px 0 18px 32px;
    margin: 0;
    height: 56px;
  }

  .search-field__button {
    width: 100%;
    height: 56px;
    margin: 0 0 32px;
    border-radius: 100px;
  }
}
