.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header__logo {
  font-size: 20px;
}

.header_theme_dark {
  background-image: url("../../assets/header__background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #d1d2d6;
}

.header_theme_light {
  background: #ffffff;
  height: auto;
  border-bottom: 1px solid #d1d2d6;
}

.header__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 0;
}

.header__menu {
  border-bottom: inherit;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 104px;
  height: 80px;
  box-sizing: border-box;
}

.header_theme_dark .header__logo {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 20px;
}

.header_theme_light .header__logo {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  color: #1a1b22;
  font-size: 20px;
}

.header__menu-button {
  display: none;
}

.header__navigation-wrapper {
  display: block;
}

.header__display {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 608px;
  margin: 40px auto 0;
  padding-bottom: 80px;
}

.header__title {
  font-family:
    Roboto Slab,
    Arial,
    Helvetica,
    sans-serif;
  margin: 0;
  color: #ffffff;
  font-size: 60px;
  line-height: 64px;
  width: 608px;
  text-align: left;
}

.header__sub-title {
  margin: 32px 0 88px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
}

.header_home-btn {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 18px;
  background: transparent;
  border: none;
  color: #ffffff;
  width: 49px;
  height: 24px;
  margin-right: 42px;
}

.header_sign-in-btn {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #ffffff;
  width: 176px;
  height: 48px;
  border-radius: 100px;
  border: 1px solid #ffffff;
  background: transparent;
}

@media screen and (max-width: 768px) {
  .header {
    max-height: 400px;
  }

  .header__menu {
    padding: 0 40px;
    height: 66px;
  }

  .header__display {
    box-sizing: border-box;
    width: 100%;
    max-width: 452px;
    margin: 0 auto;
    padding: 38px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .header__title {
    margin: 0 auto 16px 0;
    font-size: 36px;
    line-height: 40px;
    width: 100%;
    max-width: 385px;
    height: auto;
    padding: 0;
  }

  .header__sub-title {
    width: 100%;
    max-width: 452px;
    height: auto;
    margin: 0 auto 48px auto;
  }
}

@media screen and (max-width: 320px) {
  .header {
    position: relative;

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    background: transparent;
    border-bottom: none;
    gap: 30px;
  }

  .header .header_theme_dark {
  }

  .header_opened {
    min-height: 100vh;
  }

  .header__menu {
    padding: 16px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 56px;
    align-items: center;
    border-bottom: 1px solid #d1d2d6;
  }

  .header_theme_dark .header__logo {
    font-size: 16px;
  }

  .header__text-container-hidden {
    display: none;
  }

  .header__display {
    display: flex;
    position: static;
    width: 100%;
    padding: 0;
  }

  .header__title {
    font-size: 30px;
    padding: 0 16px;
  }

  .header__sub-title {
    margin: 0 0 122px 0;
    padding: 0 16px;
  }
}
