.card__list_container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background-color: simulator/gray/text;
}

.card__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  justify-items: center;
  justify-items: stretch;
  gap: 16px;
}

.card__item {
  margin: 0;
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 320px) {
  .card__list_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 0;
  }
}
